.form-inputs p {
  color: red;
  font-size: 12px;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 58px;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 68px;
}
h2 span {
  font-family: 'Covered By Your Grace', cursive;
}
p {
  font-family: 'Lora', serif;
  font-size: 22px;
  font-weight: 500;
  color: #1e1e1e;
}

#Form {
  margin-top: 70px;
  margin-left: 80px;
  margin-right: 80px;
}

label {
  font-family: 'Lora', serif;
  font-size: 22px;
  font-weight: 00;
  color: #1e1e1e;
  margin-top: 14px;
  margin-bottom: 0px;
}

#ocho {
  margin-right: 30px;
  margin-left: 5px;
}

#seis {
  margin-left: 5px;
}

input {
  margin-top: 14px;
  margin-bottom: 35px;
  display: inline-block;
  width: calc(100% - 100px);
}

#ochoHoras {
  width: fit-content;
}

#seisHoras {
  width: fit-content;
}
