.form-inputs p {
  color: #f43a16;
  font-size: 1em;
  font-family: 'Lora', serif;
  font-weight: 400;
}

#error {
  color: #f43a16;
  font-size: 1em;
  font-family: 'Lora', serif;
  font-weight: 400;
  margin-top: 2vh;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 3.625em;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 68px;
}
h2 span {
  font-family: 'Covered By Your Grace', cursive;
}
p {
  font-family: 'Lora', serif;
  font-size: 1.375em;
  font-weight: 500;
  color: #1e1e1e;
}
a {
  font-size: 0.7em;
  color: #1e1e1e;
  display: inline;
  margin-left: 1vw;
}
label span {
  color: #173486;
}
label {
  font-family: 'Lora', serif;
  font-size: 1.375em;
  font-weight: 400;
  color: #1e1e1e;
  margin-top: 14px;
  margin-bottom: 0px;
}

#message {
  width: 93%;
  height: 100px;
  padding: 10px;
}

#ocho {
  margin-right: 30px;
  margin-left: 10px;
}

#seis {
  margin-left: 10px;
}
#solicitarCrack {
  background-color: #234ec9;
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 1.438em;
  font-weight: 700;
  border-radius: 34px;
  border: none;
  height: 48px;
  width: 242px;
}

#solicitarCrack:hover {
  background-color: #173486;
}

input {
  margin-top: 14px;
  margin-bottom: 35px;
  display: inline-block;
  width: calc(100%);
}

#tyc {
  width: 13px;
  padding-top: 0;
}
#tycText {
  margin-bottom: 0;
}

input[type='radio'] {
  border: 0px;
  width: 2em;
  height: 2em;
  accent-color: #234ec9;
}
#Form {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  margin-bottom: 2vh;
  font-family: 'Lora', serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #1e1e1e;
}

@media screen and (min-width: 992px) {
  #Form {
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
  }
  #total {
    margin-top: 26vh;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  #total h3 {
    padding-left: 0;
  }
}
